---
buildbot_master_title: winepak buildbot
buildbot_master_title_url: https://build.cyberia.party
buildbot_master_url: https://build.cyberia.party

buildbot_master_auth_admin_username: admin
buildbot_master_auth_admin_password: SHA256SUM_PASSWORD_YOU_GENERATE


buildbot_master_github_auth_client: SHA256SUM_PASSWORD_YOU_GENERATE
buildbot_master_github_auth_secret: SHA256SUM_PASSWORD_YOU_GENERATE
buildbot_master_github_change_secret: SHA256SUM_PASSWORD_YOU_GENERATE
buildbot_master_github_organization_name: winepak

buildbot_master_repo_dep_repo: "winepak",
buildbot_master_repo_dep_repo: "https://dl.winepak.org/repo/winepak.flatpakrepo",

buildbot_master_repo_gpg_key: 

buildbot_master_repo_config_file: winepak.json
