# {{ ansible_managed }}

server {
    listen      80{% if frontend_domain.name == nginx_webroot_domain %} default_server{% endif %};
    listen      [::]:80{% if frontend_domain.name == nginx_webroot_domain %} default_server{% endif %};
    server_name {{ frontend_domain.name }} www.{{ frontend_domain.name }};
    root        {{ frontend_domain.path }};

    location ~ /\.git {
        deny all;
    }

    # Load configuration files for the default server block.
    include /etc/nginx/default.d/{{ frontend_domain.name }}-*.conf;

    {% if frontend_domain.sign == true %}

    # Redirect everything else to HTTPS
    location / {
        return 301 https://$host$request_uri;
    }

    {% endif %}

}
